<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trang Quản Trị</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrangQuanTri_BanSach.styles.css" asp-append-version="true" />
</head>
<body>
    @* menu, header *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @* add logo *@
        <a class="navbar-brand">Trang Quản Trị</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                @* (tài khoản truy cập trang admin) *@
                <a href="#" class="nav-link">Quản Lý Tài Khoản</a>
            </li>
                @* (tài khoản truy cập trang bán hàng) *@
            <li class="nav-item">
                <a href="#" class="nav-link">Quản Lý Khách Hàng</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
