@model TrangQuanTri_BanSach.Models.Domain.Author
@{
    
}

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6">
      <h3>Trang sửa thể loại</h3>
      <form asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
          <label asp-for="AuthorName">Sửa tên tác giả:</label>
          <input asp-for="AuthorName" type="text" class="form-control" />
          <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>

        @if (TempData["msg"] != null)
        {
          <div class="mb-3">
            @TempData["msg"]
          </div>
        }

        <div class="mb-3">
          <button type="submit" class="btn btn-success">Sửa</button>
          <a href="/Author/GetAll" class="btn btn-primary">Danh sách tác giả</a>
        </div>

      </form>
    </div>
  </div>
</div>